<div class="container-fluid">
  <div class="card col-md-4 offset-4" style="margin-top: 50px">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
      <div class="form-group">
        <label for="userName ">User Name</label>
        <input
          type="email"
          class="form-control"
          name="userName"
          id="userName"
          aria-describedby="emailHelpId"
          placeholder="Enter user Name"
        />
        <small id="emailHelpId" class="form-text text-muted"
          >eg: agarwal.shashank@gmail.com</small
        >

        <label for="userPassword ">User Password</label>
        <input
          type="password"
          class="form-control"
          name="userPassword"
          id="userPassword"
          aria-describedby="passwordHelpId"
          placeholder="Enter password"
        />
        <a
          href="#"
          class="align-middle btn btn-primary"
          style="margin-top: 10px"
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
