<div class="container-fluid">
  <div
    *ngIf="!submitted; else submitDiv"
    class="card col-md-4 offset-4"
    style="margin-top: 50px"
  >
    <h5 class="card-header">Login</h5>
    <div class="card-body">
      <div class="form-group">
        <label for="userName ">User Name</label>
        <input
          type="email"
          class="form-control"
          name="userName"
          id="userName"
          aria-describedby="emailHelpId"
          placeholder="Enter user Name"
          [(ngModel)]="myusername"
        />
        <small id="emailHelpId" class="form-text text-muted"
          >eg: agarwal.shashank@gmail.com</small
        >

        <label for="userPassword ">User Password</label>
        <input
          type="password"
          class="form-control"
          name="userPassword"
          id="userPassword"
          aria-describedby="passwordHelpId"
          placeholder="Enter password"
          [(ngModel)]="mypassword"
        />
        <a
          href="#"
          (click)="checkUser()"
          class="align-middle btn btn-primary"
          style="margin-top: 10px"
          >Login</a
        >
      </div>
    </div>
  </div>

  <ng-template #submitDiv>
    <div class="card col-md-4 offset-4">
      <div *ngIf="isAuthentic; else failureMsg" class="card-body">
        <h5>Welcome</h5>
        <button (click)="reset()" class="btn btn-success">Back</button>
      </div>
      <ng-template #failureMsg>
        <div class="card-body">
          <h5 class="text-danger">
            Wrong Credentials! Please go back and try again.
          </h5>
          <button (click)="reset()" class="btn btn-danger">Back</button>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
